<!DOCTYPE HTML>

<head>
<title>Wanderlust</title>

<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">

	<!--SCRIPTS-->
	<script src="jquery/dist/jquery.js"></script>
	<script src="bootstrap/dist/js/bootstrap.js"></script>


</head>


<body>